Repository allaunthefox/NoDupeLabs: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-markdown-spec, enforce-python-truth

enforce-markdown-spec:
  name: Enforce Markdown spec
  entry: python tools/core/enforce_markdown_spec.py --check
  language: system
  pass_filenames: false

enforce-python-truth:
  name: Enforce Python truthiness
  entry: python tools/core/enforce_python_truth.py --check
  language: system
  pass_filenames: false

Move nodupelabs.png to docs/
  docs/nodupelabs.png
Due: none

Organize docs into clear categories: guides, reference, research, api, images
  docs/api/OPENAPI.md
  docs/api/openapi.yaml
  docs/ci/CI_FIX_SUMMARY.md
  docs/ci/CI_WORKFLOW_FIX_SUMMARY.md
  docs/guides/AUTO_MERGE_GUIDE.md
  docs/guides/CHANGELOG.md
  docs/guides/CONTRIBUTING.md
  docs/guides/DANGER_SETUP.md
  docs/guides/STABILITY_GUIDE.md
  docs/guides/cli_test_plan.md
  docs/guides/focus_chain.md
  docs/guides/implementation_plan.md
  docs/guides/integration_test_plan.md
  docs/images/nodupelabs.png
  docs/reference/DOCSTRING_COVERAGE_SOLUTION.md
  docs/reference/DOCUMENTATION_SUMMARY.md
  docs/reference/ENVIRONMENT_PROTECTION_CONFIGURATION.md
  docs/reference/IMPORT_PATH_MAPPING.md
  docs/reference/ISO_STANDARDS_COMPLIANCE.md
  docs/reference/PROJECT_STATUS.md
  docs/reference/SECURITY_REVIEW_ARCHIVE_SUPPORT.md
  docs/research/archive_format_research.md
Due: enforce-markdown-spec

Add .vscode and .clinerules to gitignore
  .gitignore
Due: none

Remove .vscode and .clinerules from git tracking
  .clinerules/context-window-management.md
  .vscode/settings.json
Due: enforce-markdown-spec

Add TruffleHog workflow for secret scanning
  .github/workflows/trufflehog.yml
Due: none

Add Dependabot for dependency updates
  .github/dependabot.yml
Due: none

Add OSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: none

Add Super-Linter workflow
  .github/workflows/superlinter.yml
Due: none

Add SecureStack SBOM workflow
  .github/workflows/sbom.yml
Due: none

Replace Super-Linter with MegaLinter
  .github/workflows/megalinter.yml
Due: none

Add Drata compliance workflow
  .github/workflows/drata-compliance.yml
Due: none

Remove Drata (not eligible)
  .github/workflows/drata-compliance.yml
Due: none

Add SLSA attestations workflow
  .github/workflows/slsa-attestations.yml
Due: none

Add dead code detection workflow
  .github/workflows/dead-code.yml
Due: none

Add code smell detection workflow
  .github/workflows/code-smells.yml
Due: none

Add local CI gate with pre-commit config
  .gitignore
Due: none

Add mega-linter config to reduce noise
  .mega-linter.yml
  megalinter-reports/IDE-config.txt
  megalinter-reports/IDE-config/.gitleaks.toml
  megalinter-reports/IDE-config/.grype.yaml
  megalinter-reports/IDE-config/.idea/externalDependencies.xml
  megalinter-reports/IDE-config/.jscpd.json
  megalinter-reports/IDE-config/.secretlintrc.json
  megalinter-reports/IDE-config/.yamllint.yml
  megalinter-reports/copy-paste/html/index.html
  megalinter-reports/copy-paste/html/js/prism.js
  megalinter-reports/copy-paste/html/jscpd-report.json
  megalinter-reports/copy-paste/html/styles/prism.css
  megalinter-reports/copy-paste/html/styles/tailwind.css
  megalinter-reports/sbom/syft.txt
  megalinter-reports/sbom/trivy.json
Due: none

Ignore megalinter reports
  .gitignore
Due: none

Disable MegaLinter errors to allow CI to pass
  .mega-linter.yml
Due: none

Track .pre-commit-config.yaml in git, remove from gitignore
  .gitignore
  .pre-commit-config.yaml
Due: none

Disable PRETTIER to fix MegaLinter failure
  .mega-linter.yml
Due: none

Fix YAML formatting to pass Prettier
  .pre-commit-config.yaml
Due: none

Pass .mega-linter.yml config to MegaLinter action
  .github/workflows/megalinter.yml
Due: none

Fix pre-commit hooks: use check-yaml, check-json, pin trufflehog
  .pre-commit-config.yaml
Due: none

Sync trufflehog version with CI (v3.93.3)
  .pre-commit-config.yaml
Due: none

Rename to .yml per style guide
  .pre-commit-config.yml
  megalinter-reports/IDE-config.txt
  megalinter-reports/sbom/syft.txt
  megalinter-reports/sbom/trivy.json
Due: none

tests(core): fix pylint warnings in test_incremental.py — remove unused import, declare attributes, specify UTF-8 for open(), remove pointless statement
  tests/core/test_incremental.py
Due: enforce-python-truth

tests/compat: fix imports & add compatibility shims (ToolError, ToolManager, TimeSyncTool); update tests
  nodupe/core/errors.py
  nodupe/core/tools.py
  nodupe/tools/time_sync/__init__.py
  nodupe/tools/time_sync/time_sync_tool.py
  tests/core/cache/test_embedding_cache.py
  tests/test_utils.py
Due: enforce-python-truth

compat: add core shims (database, rollback, security, time_sync); fix TimeSync wrapper and tests
  nodupe/core/archive_handler.py
  nodupe/core/database/connection.py
  nodupe/core/database/files.py
  nodupe/core/rollback.py
  nodupe/core/security.py
  nodupe/core/time_sync_failure_rules.py
  nodupe/core/time_sync_utils.py
  nodupe/core/tools.py
  nodupe/tools/time_sync/__init__.py
  nodupe/tools/time_sync/time_sync_tool.py
  tests/plugins/test_time_sync.py
Due: enforce-python-truth

refactor: remove legacy compatibility shims; update tests to import nodupe.tools.*
  nodupe/core/archive_handler.py
  nodupe/core/security.py
  nodupe/core/time_sync_failure_rules.py
  nodupe/core/time_sync_utils.py
Due: enforce-python-truth

time_sync/failure_rules: stabilize avg_delay, fix unhealthy retry/backoff logic, correct decay and pattern caching
  nodupe/tools/time_sync/failure_rules.py
Due: enforce-python-truth

tests(loader,discovery): add coverage tests; fix discovery metadata detection; close server socket early in IPC stop
  nodupe/core/api/ipc.py
  nodupe/core/tool_system/discovery.py
  tests/core/test_tool_discovery.py
  tests/core/test_tool_loader.py
Due: enforce-python-truth

tests(smoke): import core modules to raise baseline coverage
  tests/smoke/test_imports.py
Due: enforce-python-truth

CoreLoader: database/init/autotune fixes; IPC cleanup; similarity validation; fix logging test
  nodupe/core/api/ipc.py
  nodupe/core/loader.py
  nodupe/tools/commands/similarity.py
  tests/core/test_logging.py
Due: enforce-python-truth

tests: add QueryCache & Plan unit tests; extend indexing edge-case tests
  tests/tools/test_commands_plan.py
  tests/tools/test_commands_verify.py
  tests/tools/test_databases_indexing.py
  tests/tools/test_query_cache.py
Due: enforce-python-truth

tests(core): add additional unit tests for CoreLoader (discovery fallback, load no-class, autotune results, ipc shutdown, psutil absent)
  tests/core/test_loader.py
Due: enforce-python-truth

tests(core): cover LogCompressor shutdown + DB error handling; assert instance-logger on DB failures
  tests/core/test_loader.py
Due: enforce-python-truth

tests(core): avoid test module name collision for query_cache by renaming
  test_results.xml
  tests/core/cache/test_query_cache_core.py
Due: enforce-python-truth

Path conditions:
  enforce-markdown-spec: any of: \.(md|markdown|mdown)$
  enforce-python-truth: any of: \.py$
