Repository allaunthefox/NoDupeLabs: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-markdown-spec, enforce-python-truth

.pre-commit-config.yaml:

# Pre-commit hooks for NoDupeLabs
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: ["--line-length=80"]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black", "--line-length=80"]

  # Linting
  - repo: https://github.com/pycqa/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        args:
          - "--disable=all"
          - "--enable=missing-docstring,invalid-name"

  # Type checking
  - repo: https://github.com/python/mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports", "--strict"]

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ["--config=.markdownlint.json"]

  # YAML linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.1
    hooks:
      - id: prettier
        types: [yaml]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Detect secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # End-of-file fixer
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebr-config=.markdownlint.json"]

  # Check for merge conflicts
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict

  # Check for added large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python executable
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: python-execute-notebooks

  # NoDupeLabs custom hooks
  - repo: local
    hooks:
      - id: enforce-markdown-spec
        name: Enforce Markdown spec
        entry: python tools/core/enforce_markdown_spec.py --check
        language: system
        types: [markdown]
        pass_filenames: false

      - id: enforce-text-spec
        name: Enforce Text spec
        entry: python tools/core/enforce_text_spec.py --check
        language: system
        types: [text]
        pass_filenames: false

      - id: enforce-python-truth
        name: Enforce Python truthiness
        entry: python tools/core/enforce_python_truth.py --check
        language: system
        types: [python]
        pass_filenames: false

Add filesystem-based tests for compression.py
  tests/core/test_compression_filesystem.py
Due: enforce-python-truth

Refactor exception handling for better coverage
  nodupe/core/compression.py
Due: enforce-python-truth

Mark unreachable exception handlers with pragma: no cover
  nodupe/core/compression.py
Due: enforce-python-truth

Fix compression.py: add path traversal protection and remove redundant handlers
  nodupe/core/compression.py
Due: enforce-python-truth

Fix compression.py: add path traversal protection, remove redundant handlers
  nodupe/core/compression.py
Due: enforce-python-truth

Clean up compression.py: remove dead code, add pragma comments
  nodupe/core/compression.py
Due: enforce-python-truth

Fix mypy type ignore for tarfile.open
  nodupe/core/compression.py
Due: enforce-python-truth

Refactor compression.py: clean implementation with 100% test coverage
  coverage.xml
  nodupe/core/compression.py
  test_results.xml
  tests/core/test_compression.py
Due: enforce-python-truth

Add property-based tests with Hypothesis
  tests/core/test_compression_properties.py
Due: enforce-python-truth

Add hypothesis to dev dependencies in pyproject.toml
  pyproject.toml
Due: none

Update CONTRIBUTING.md with pip install -e ".[dev]" instructions
  docs/CONTRIBUTING.md
Due: enforce-markdown-spec

Update CONTRIBUTING.md: document PEP 668 compliant virtual environment setup
  docs/CONTRIBUTING.md
Due: enforce-markdown-spec

Add compression hardening tests: extract_archive, large data, concurrency, tar fuzzing, mutation setup
  coverage.xml
  nodupe/core/compression.py
  pyproject.toml
  test_results.xml
  tests/core/test_compression_stress.py
Due: enforce-python-truth

Fix: Remove unused shutil import and CompressionFormat type alias
  nodupe/core/compression.py
Due: enforce-python-truth

Fix: Remove unused imports in test_compression.py
  tests/core/test_compression.py
Due: enforce-python-truth

Clean up dead code across nodupe/core modules
  coverage.xml
  nodupe/core/database/query.py
  nodupe/core/database/security.py
  nodupe/core/limits.py
  nodupe/core/loader.py
  nodupe/core/time_sync_failure_rules.py
  nodupe/core/time_sync_utils.py
  test_results.xml
Due: enforce-python-truth

Clean up all dead code - ZERO unused imports/variables
  coverage.xml
  nodupe/core/api/versioning.py
  nodupe/core/database/logging_.py
  nodupe/core/database/query.py
  nodupe/core/database/schema.py
  nodupe/core/database/security.py
  nodupe/core/database/wrapper.py
  nodupe/core/parallel.py
  nodupe/core/scan/walker.py
  nodupe/core/time_sync_failure_rules.py
  nodupe/core/time_sync_utils.py
  test_results.xml
Due: enforce-python-truth

Clean up all dead code in plugins directory
  coverage.xml
  nodupe/plugins/commands/__init__.py
  nodupe/plugins/commands/plan.py
  nodupe/plugins/leap_year/leap_year.py
  nodupe/plugins/ml/__init__.py
  nodupe/plugins/time_sync/time_sync.py
  nodupe/plugins/video/__init__.py
  test_results.xml
Due: enforce-python-truth

Clean up additional dead code in cache and plugin_system
  nodupe/core/cache/embedding_cache.py
  nodupe/core/plugin_system/discovery.py
  nodupe/core/plugin_system/hot_reload.py
  nodupe/core/rollback/manager.py
Due: enforce-python-truth

Clean up code style - removed trailing whitespace
  nodupe/core/api/decorators.py
  nodupe/core/api/openapi.py
  nodupe/core/api/ratelimit.py
  nodupe/core/api/validation.py
  nodupe/core/api/versioning.py
  nodupe/core/cli/rollback.py
  nodupe/core/compression.py
  nodupe/core/database/cache.py
  nodupe/core/database/cleanup.py
  nodupe/core/database/compression.py
  nodupe/core/database/locking.py
  nodupe/core/database/logging_.py
  nodupe/core/database/serialization.py
  nodupe/core/database/session.py
  nodupe/core/database/wrapper.py
  nodupe/core/loader.py
  nodupe/core/plugin_system/discovery.py
  nodupe/core/plugin_system/hot_reload.py
  nodupe/core/plugin_system/loading_order.py
  nodupe/core/plugin_system/registry.py
  nodupe/core/time_sync_failure_rules.py
  nodupe/core/time_sync_utils.py
  nodupe/plugins/commands/apply.py
  nodupe/plugins/commands/scan.py
  nodupe/plugins/commands/similarity.py
  nodupe/plugins/database/features.py
  nodupe/plugins/database/sharding.py
  nodupe/plugins/leap_year/__init__.py
  nodupe/plugins/leap_year/leap_year.py
  nodupe/plugins/time_sync/__init__.py
  nodupe/plugins/time_sync/time_sync.py
Due: enforce-python-truth

Fix pylint issues: yield from, constant naming
  nodupe/core/parallel.py
  nodupe/core/time_sync_failure_rules.py
Due: enforce-python-truth

Fix toml dependency: use tomlkit instead of missing toml
  coverage.xml
  test_results.xml
  tests/conftest.py
  tests/core/test_config.py
Due: enforce-python-truth

Fix import paths for test files and modules
  IMPORT_PATH_MAPPING.md
  nodupe/tools/archive/archive_logic.py
  nodupe/tools/mime/mime_logic.py
  nodupe/tools/ml/__init__.py
  nodupe/tools/scanner_engine/__init__.py
  tests/core/cache/test_embedding_cache.py
  tests/core/cache/test_hash_cache.py
  tests/core/cache/test_query_cache.py
  tests/core/test_file_hasher.py
  tests/core/test_file_info.py
  tests/core/test_file_processor.py
  tests/core/test_file_walker.py
  tests/core/test_incremental.py
  tests/core/test_progress_tracker.py
Due: enforce-markdown-spec, enforce-python-truth

Fix import paths for test files and modules (#33)
  IMPORT_PATH_MAPPING.md
  nodupe/tools/archive/archive_logic.py
  nodupe/tools/mime/mime_logic.py
  nodupe/tools/ml/__init__.py
  nodupe/tools/scanner_engine/__init__.py
  tests/core/cache/test_embedding_cache.py
  tests/core/cache/test_hash_cache.py
  tests/core/cache/test_query_cache.py
  tests/core/test_file_hasher.py
  tests/core/test_file_info.py
  tests/core/test_file_processor.py
  tests/core/test_file_walker.py
  tests/core/test_incremental.py
  tests/core/test_progress_tracker.py
Due: enforce-markdown-spec, enforce-python-truth

Update .gitignore with comprehensive Python project settings
  .gitignore
Due: none
